version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: zorro
      POSTGRES_PASSWORD: bestuser
      POSTGRES_DB: autoluxe
    ports:
      - "5437:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydatabase"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8083:8085"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5437/autoluxe
      SPRING_DATASOURCE_USERNAME: zorro
      SPRING_DATASOURCE_PASSWORD: bestuser

volumes:
  postgres_data:
